span.iucn {
    height: 40px;
    width: 40px;
    margin: 0 6px 12px 0;
    display: inline-block;
    font-weight: bold;
    line-height: 40px;
    color: #333a3f;
    text-align: center;
    -moz-border-radius: 2em;
    -webkit-border-radius: 2em;
    border-radius: 2em;
    font-variant: small-caps;
    border: 1px solid #3d464c;
    background-color: #fff;

}

span.iucn.least-concern {
    background-color: #60C659;
    border-color: #60C659;
    color: black;
}

span.iucn.near-threatened {
    background-color: #CCE226;
    border-color: #CCE226;
    color: black;
}

span.iucn.vulnerable {
    background-color: #F9E814;
    border-color: #F9E814;
    color: black;
}

span.iucn.endangered {
    background-color: #FC7F3F;
    border-color: #FC7F3F;
    color: white;
}

span.iucn.critically-endangered {
    background-color: #D81E05;
    border-color: #D81E05;
    color: white;
}

span.iucn.regionally-extinct {
    background-color: #9B4F96;
    border-color: #9B4F96;
    color: white;
}

span.iucn.extinct-wild {
    background-color: #542344;
    border-color: #542344;
    color: #c33;
}

span.iucn.extinct {
    background-color: black;
    border-color: black;
    color: #c33;
}

span.iucn.data-deficient {
    background-color: #D1D1C6;
    border-color: #D1D1C6;
    color: black;
}

span.iucn.not-evaluated {
    background-color: #FFFFFF ;
    border-color: #FFFFFF ;
    color: black;
}

span.iucn.not-applicable {
    background-color: #C1B5A5;
    border-color: #C1B5A5;
    color: black;
}